body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  font-family: Inter, Poppins, sans-serif;
}

#file-selector option {
  font-size: 14px;
  color: #333;
  background-color: #f7f7f7;  
}

#file-selector {
  box-sizing: border-box;
  position: absolute;
  right: 200px;
  top: 30px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container {
  width: 1100px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

#question {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

#answers {
  font-size: 17px;
  line-height: 1.5;
  /* padding-left: 17px; */
  font-weight: 600;
}

li {
  margin-bottom: 15px;
}

button {
  display: none;
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: 600;
}

.dark-mode {
  background-color: #222;
  color: white;
}

.dark-mode button {
  background-color: #333;
}

#result.correct {
  color: green;
}

#result.incorrect {
  color: red;
}
span{
  cursor: pointer;
}

span:hover{
  color: #36048f;
}

input{
  display: none;
}

.flip-card {
  cursor: pointer;
  left: 30px;
  top: 30px;
  position: absolute;
  background-color: transparent;
  width: 320px;
  height: 100%;
  perspective: 1100px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #4364f7, #6fb1fc);
}

.flip-card-front {
  height: 100%;
  z-index: 2;
  font-size: 18px;
  font-weight: 900;
  display: flex;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
h3 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
}

#language-switch{
  position: absolute;
  right: 170px;
  top: 35px;
}